.zig-cache/
zig-out/
target/

ncurses/**/config.log
ncurses/**/config.status
ncurses/**/Makefile
ncurses/objects/
ncurses/obj_g/
ncurses/lib/
ncurses/**/*.o
ncurses/**/*.a
ncurses/**/*.so*

.DS_Store
*.swp
*.core

